body
{
    font-family: lucida grande, tahoma, verdana,arial,Segoe UI;
    background-color: #e9e9e9;
}
body p
{
    font-size: 1em;
    line-height: 1.3;
}
#wrapper
{
    width: 950px;
    background-color: honeydew;
    margin: 0 auto;
    padding: 10px;
    border: 5px solid #dedede;
}
#content_area
{
   float: left;
   width: 750px;
   height: 600px;
   margin: 20px 0 20px 0;
   padding: 10px;
}
footer
{
   clear: both;
   width: auto;
   height: 40px;
   padding: 5px;
   text-align: center;
   font: bold 16px Segoe UI;
   color: #fff;
   background: url("/static/img/navigation-bg.jpg") no-repeat left top;
}
#navigation {
	height: 60px;
	margin: 0;
	padding: 0;
	background: url("/static/img/navigation-bg.jpg") no-repeat left top;
}
#navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#navigation ul li {
	display: inline;
	margin: 0px;
}
#navigation ul li a {
	height:40px;
	display: block;
	float: left;
	padding: 17px 15px 0 15px;
	font: bold 16px Segoe UI;
	color: #FFF;
	text-decoration: none;
	background: url("/static/img/navigation-separator.png") no-repeat right center;
}

#navigation ul li a:hover {
	color:#363636;
	background: url("/static/img/navigation-hover.png") repeat-x left top;
}

#navigation ul li#active a {
	color:#363636;
	background: url("/static/img/navigation-hover.png") repeat-x left top;
}
